In [2]:
import pandas as pd
url = f'https://docs.google.com/spreadsheets/d/1vKAIohc1IYOc6E3Y2YLRzAgLcwswKrSKLXX2J47rhjE/gviz/tq?tqx=out:csv&sheet=Updated_Data_Sheet'
df = pd.read_csv('temp_service.csv')

In [3]:
df.head()

,Unnamed: 0,LinkedInMemberId,FirstName,LastName,Title,Company,Occupation,Email,Phone,Location(original),...,Business model,Pankaj Comments,Company Description,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34,Unnamed: 35,Unnamed: 36
0,0,1074760800,scott,chen,CEO,SocialEpoch,傲途SocialEpoch- Founder & CEO| SocialSelling Ex...,NaN,NaN,Singapore,...,B2B,420000.0,We are a B2B social selling solutions provider...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,1021300140,Leon,Lyu,CEO,ANTPOOL Tech,Chief Executive Officer at ANTPOOL Tech,leonlv2028@gmail.com,NaN,Singapore,...,B2B,NaN,"ANTPOOL, as a blockchain infrastructure compan...",NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,1005651311,Dmytro,Fedorchuk,CEO,ABM Cloud,CEOABM Loyalty – ABM Cloud,fedd@abmcloud.com,NaN,Ukraine,...,B2B,NaN,Innovative company providing professional IT s...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,888693775,Philipp,Wellstein,CEO,WellDev,Chief Executive Officer at WellDev,NaN,NaN,Switzerland,...,B2B,NaN,"We offer innovative, high performing and custo...",NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,875019298,Francesca,Turchi,CEO,Hermes Trade,Chief Executive Officer presso Hermes Trade & ...,NaN,NaN,Italy,...,B2B,NaN,Better together: we provide you with a team of...,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
length = len(df['Industry Classification'])

In [5]:
length

562

In [7]:
for i in range(0,length):
    if((df['Industry Classification'][i] == 'Product') & (df['Number of employees'][i] < 40)):
        df['compute_rev'][i] = df['Number of employees'][i] * 15000
        
    elif((df['Industry Classification'][i] == 'Product') & (df['Number of employees'][i] in range(40,101))):
        df['compute_rev'][i] = (df['Number of employees'][i])/2 * 1000 * df['Number of employees'][i]
    
    elif((df['Industry Classification'][i] == 'Product') & (df['Number of employees'][i] > 100)):
        df['compute_rev'][i] = (df['Number of employees'][i]) * 50000
        
        # f(x) = ((b-a)(x - min))(max-min) + a
        
        # [min, max] --> [a,b]
        # x=67
        
        # x = 59(arr/emp) > x=88(arr/emp)
        
        # x=64
        # [50,100] --> [25-50k]
        # (25*14)/50 + 25   * 1000 * no. of employees = ARR

/var/folders/j6/vkwtdc816h123w9hsn6nsz5r0000gn/T/ipykernel_72756/658055460.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['compute_rev'][i] = df['Number of employees'][i] * 15000
/var/folders/j6/vkwtdc816h123w9hsn6nsz5r0000gn/T/ipykernel_72756/658055460.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['compute_rev'][i] = (df['Number of employees'][i])/2 * 1000 * df['Number of employees'][i]
/var/folders/j6/vkwtdc816h123w9hsn6nsz5r0000gn/T/ipykernel_72756/658055460.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['compute_rev'][i] = (df['Number of employees'][i]) * 50000

In [8]:
df.head()

,Unnamed: 0,LinkedInMemberId,FirstName,LastName,Title,Company,Occupation,Email,Phone,Location(original),...,Business model,Pankaj Comments,Company Description,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34,Unnamed: 35,Unnamed: 36
0,0,1074760800,scott,chen,CEO,SocialEpoch,傲途SocialEpoch- Founder & CEO| SocialSelling Ex...,NaN,NaN,Singapore,...,B2B,420000.0,We are a B2B social selling solutions provider...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,1021300140,Leon,Lyu,CEO,ANTPOOL Tech,Chief Executive Officer at ANTPOOL Tech,leonlv2028@gmail.com,NaN,Singapore,...,B2B,NaN,"ANTPOOL, as a blockchain infrastructure compan...",NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,1005651311,Dmytro,Fedorchuk,CEO,ABM Cloud,CEOABM Loyalty – ABM Cloud,fedd@abmcloud.com,NaN,Ukraine,...,B2B,NaN,Innovative company providing professional IT s...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,888693775,Philipp,Wellstein,CEO,WellDev,Chief Executive Officer at WellDev,NaN,NaN,Switzerland,...,B2B,NaN,"We offer innovative, high performing and custo...",NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,875019298,Francesca,Turchi,CEO,Hermes Trade,Chief Executive Officer presso Hermes Trade & ...,NaN,NaN,Italy,...,B2B,NaN,Better together: we provide you with a team of...,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
df.iloc[12]['compute_rev']

1386000.0

In [11]:
df.to_csv('total_revenue.csv')